<f:layout name="Default" />

<f:section name="Main">
<!-- f:asset.script identifier="config" src="EXT:clickio_consent/Resources/Public/JavaScript/config.js" / -->
    <h1>Настройки модуля</h1>


   {options}
    <label for="mainField">Основное поле:</label>
    <select id="mainField" name="mainField">
        <option value="show">Показать дополнительное поле</option>
        <option value="hide">Скрыть дополнительное поле</option>
    </select>

    <div id="additionalField" style="display: none;">
        <label for="extra">Дополнительное поле:</label>
        <input type="text" id="extra" name="extra">
    </div>

</f:section>